.article-thumbnail-div {
  background-color: #00a896;
  margin-top: 5px;
  width: 70%;
  padding: 10px 35px 0px 35px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.2s;
  box-shadow: 8px 8px 30px -5px rgba(66, 68, 90, 1);
  margin-bottom: 15px;
}

.article-thumbnail-div:hover {
  transform: scale(1.05);
}

.article-top-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-bottom-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.article-title {
  font-size: 1.5vw;
  font-weight: 800;
}

.article-date {
  font-size: 0.9vw;
  color: #d1d9df;
  display: flex;
  align-items: center;
}

.article-category {
  font-size: 0.9vw;
  color: #d1d9df;
}

.img {
  width: 1.2vw;
  margin-right: 5px;
}

.article-short-description {
  text-align: justify;
  font-size: 0.9vw;
}
