.custom-link {
  color: #00A896;
  font-weight: 600;
  font-size: 1.4vw;
}

.logo-img {
  width: 2.2vw;
}

.main-text{
  color: #00A896;
  font-weight: 650;
  font-size: 1.6vw;
}

.logged-panel{
  color: #00A896;
  font-size: 1.6vw;
  cursor: pointer;
}

.margin-main-text{
  margin-left: 3%;
}

.navbar-shadow{
  box-shadow: 0px 17px 24px -21px rgba(66, 68, 90, 1);
}