/FitnessPortalBACKEND/.vs
**/bin/
**/obj/
/.vs/slnx.sqlite
/FitnessPortalBACKEND/FitnessPortalAPI.Tests/.vs
/fitnessportalclient/node_modules
/FitnessPortalFRONTEND/HealthyHabitHub/node_modules
/FitnessPortalFRONTEND/HealthyHabitHub/dist
/FitnessPortalFRONTEND/HealthyHabitHub/dist-ssr
/FitnessPortalFRONTEND/HealthyHabitHub/logs
/FitnessPortalFRONTEND/HealthyHabitHub/*.log
/FitnessPortalFRONTEND/HealthyHabitHub/npm-debug.log*
/FitnessPortalFRONTEND/HealthyHabitHub/yarn-debug.log*
/FitnessPortalFRONTEND/HealthyHabitHub/yarn-error.log*
/FitnessPortalFRONTEND/HealthyHabitHub/pnpm-debug.log*
/FitnessPortalFRONTEND/HealthyHabitHub/lerna-debug.log*
/FitnessPortalFRONTEND/HealthyHabitHub/.vscode/*
/FitnessPortalFRONTEND/HealthyHabitHub/!.vscode/extensions.json
/FitnessPortalFRONTEND/HealthyHabitHub/.idea
/FitnessPortalFRONTEND/HealthyHabitHub/.DS_Store
/FitnessPortalFRONTEND/HealthyHabitHub/*.suo
/FitnessPortalFRONTEND/HealthyHabitHub/*.ntvs*
/FitnessPortalFRONTEND/HealthyHabitHub/*.njsproj
/FitnessPortalFRONTEND/HealthyHabitHub/*.sln
/FitnessPortalFRONTEND/HealthyHabitHub/*.sw?
/.vs/slnx.sqlite
