.not-allowed-page-div {
  background-color: var(--main-color-variant-1);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    gap: 20px;
  }
  @media screen and (min-width: 768px) {
    gap: 35px;
  }
  text-align: center;
}

.icon {
  @media screen and (max-width: 767px) {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    width: 25%;
  }
}
