.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 767px) {
    gap: 50px;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    gap: 5vw;
  }
}

.bottom-text {
  text-align: center;
  margin-top: 5%;

  position: relative;
  color: var(--submain-color-variant-2);
  display: inline;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    background-color: var(--submain-color-variant-2);
    width: 0;
    transition: width 0.7s;
  }
}

.alert-div {
  width: 80%;
  margin-top: 2vh;
  text-align: center;
}
