.personal-div {
  background-color: var(--main-color-variant-1);
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  @media screen and (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.desktop {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.column {
  width: 50%;
}

.thick-text {
  font-weight: 600;
}
