.div-container {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.img {
  width: 30vw;
}

.motto-header {
  font-size: 5.2vw;
  font-weight: 700;
  font-style: italic;
}

.green-text {
  font-weight: 600;
  color: #00a896;
}

.text-with-border {
  -webkit-text-stroke: 2px black; /* Adjust border width and color as desired */
  color: transparent;
}

.motto-text {
  font-size: 1.8vw;
  margin-top: 10vh;
}

.motto-div {
  display: flex;
  /* padding-bottom: 50px; */
}

.motto-text-div {
  width: 60%;
  padding: 50px;
}

.motto-img-div {
  width: 40%;
}

.workout-img {
  width: 25vw;
}

.start-button {
  font-size: 4vh;
  font-weight: 650;
  cursor: pointer;
  color: #ffffff;
  background-color: #00a896;
  border: none;
  border-radius: 15px;
  margin-bottom: 5%;
  transition: transform 0.85s;
}

.start-button:hover {
  transform: scale(1.1);
}

.advantages-div {
  background-color: #e6ebf3;
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.advantages-heading {
  text-align: center;
  font-size: 2.8vw;
  margin-bottom: 2.2vw;
  font-style: italic;
}

.advantages-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  /* background-color: rgb(100, 100, 185); */
}

.advantage-div {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  transition: transform 0.4s;
}

.advantage-div:hover {
  transform: scale(1.05);
}

.benefit-icon {
  width: 12vw;
}

.benefit-text {
  text-align: center;
  font-size: 1.1vw;
  color: #8b8686;
}

.statistics-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #262626;
  height: 100px;
  color: #ffffff;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic-text {
  font-size: 1.4vw;
}

.offer-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10vh;
  padding-bottom: 2vh;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  background-color: #e6ebf3;
  padding: 10px;
  margin-bottom: 10vh;
  border-radius: 15px;
  box-shadow: 8px 8px 24px -5px rgba(66, 68, 90, 1);
  transition: transform 0.4s;
}

.offer:hover {
  transform: scale(1.05);
}

.offer-heading {
  font-size: 1.8vw;
  text-align: center;
}

.offer-text {
  font-size: 1.1vw;
  text-align: center;
}

.offer-img {
  width: 20%;
}

.numbers{
  font-size: 1.6vw;
  font-weight: 600;
}