.friend-requests-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  background-color: var(--main-color-variant-2);
  border-radius: 10px;
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
  @media screen and (max-width: 767px) {
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    padding: 15px;
  }
}

.title {
  font-weight: 600;
}

.friend-request-motto {
  font-style: italic;
}

.no-friend-requests {
  color: var(--gray-color);
}

.request-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray-color);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  box-shadow: 8px 8px 24px -13px rgba(66, 68, 90, 1);
  cursor: pointer;
  transition: transform 0.4s;
}

.icon:hover {
  transform: scale(1.2);
}

.accept-request-icon {
  color: green;
}

.reject-request-icon {
  color: red;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center-spinner {
  text-align: center;
}
