.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.form-container {
  background-color: #f2ecff;
  border: solid 5px #00a896;
  border-radius: 25px;
  width: 30%;
  box-shadow: 8px 8px 43px -11px rgba(66, 68, 90, 1);

}

.form-label {
  font-family: "Alkatra";
  font-size: 2.7vh;
  font-weight: 650;
  margin-bottom: 10px;
}

.input-box {
  height: 4vh;
  border-radius: 7px;
  border: 3px solid #00a896;
  font-size: 2vh;
  padding-left: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.submit-button {
  text-align: center;
  padding: 1%;
  border-radius: 7px;
  border: none;
  font-size: 3.5vh;
  font-family: "Alkatra";
  background-color: #00a896;
  color: #f7f7f7;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 15%;
  margin-bottom: 5%;
}

.submit-button:hover {
  transform: scale(1.05);
}

.calculator-title {
  font-size: 3vw;
  margin-top: 2%;
  margin-bottom: 10%;
}

.bmi-score {
  font-size: 3.2vw;
  margin-top: 5%;
  color: #00a896;
}

.bmi-category {
  font-size: 1.6vw;
  margin-bottom: 5%;
}
