.img {
    margin-top: 4%;
    width: 65%;
    transition: transform 0.3s;
    cursor: pointer;
  }

  .img:hover{
    transform: scale(1.05);
  }

.calculator-thumbnail-div {
    /* background-color: #3470a4; */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.calculate-button {
    width: 35%;
    text-align: center;
    padding: 1%;
    border-radius: 10px;
    border: none;
    font-size: 1.3vw;
    font-weight: 650;
    font-family: "Alkatra";
    background-color: #00a896;
    color: #f7f7f7;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .calculate-button:hover {
    transform: scale(1.05);
  }

  .calculator-name{
    font-size: 3.4vh;
    font-weight: 700;
  }