.training-card-container {
  background-color: var(--main-color-variant-1);
  border-radius: 15px;
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  width: 90%;
  box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  @media screen and (max-width: 767px) {
    padding: 5px;
  }

  @media screen and (min-width: 768px) {
    padding: 10px;
  }
}

.training-card-container:hover {
  background-color: var(--submain-color-variant-2);
  box-shadow: 8px 8px 24px -3px rgba(66, 68, 90, 1);
}

.exercises-container {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.column-left {
  width: 50%;
}

.column-right {
  width: 50%;
}

.general-info-container {
  text-align: center;
}

.training-title {
  font-weight: 600;
  color: #302f2f;
}
