.panel-div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
  background-color: var(--main-color-variant-1);
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
}

.ul-blank {
  list-style: none;
}

.panel-title {
  font-weight: 650;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 30px;
}

.li-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 600;
}

.li-item:hover {
  color: var(--white-color);
}
