.panel-div{
    border-radius: 15px;
    padding: 2%;
    background-color: #02C39A;
    box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
    margin-bottom: 2%;
}

.ul-blank{
    list-style: none;
}

.panel-title{
    font-size: 1.5vw;
    font-weight: 650;
    color: #F8F9FA;
    text-align: center;
}

.li-item{
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
}

.li-item:hover{
    transition: transform 0.2s;
    transform: scale(1.05);
}