.articles-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-items: baseline; */
  gap: 10%;
  /* margin-bottom: 30px; */
}

.spinner-div {
  margin-top: 15%;
}
