.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pageNotFound {
  font-size: 3.8vw;
  color: #17a2b8;
}

.textRow {
  text-align: left;
}

.img {
  width: 50%;
}
