.training-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}

.heading {
  text-align: center;
}

.my-hr {
  height: 5px;
  background-color: #028090;
  border: none;
  border-radius: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-bottom {
  margin-bottom: 70px;
}
