.acount-main-div {
  background-color: #e3e6e5;
  width: 60%;
  border-radius: 15px;
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
  padding: 2px 20px 2px 20px;
  text-align: left;
}

.acount-main-div:hover {
  transition: transform 0.35s;
  transform: scale(1.03);
}

.spinner {
  display: flex;
  justify-content: center;
}

.account-header {
  font-size: 2vw;
  font-weight: 650;
}

.button-center{
  display: flex;
  justify-content: center;
}

.update-profile-button {
  width: 30%;
  font-size: 1.8vw;
  font-weight: 600;
  cursor: pointer;
  color: #00a896;
  background-color: #ffffff;
  border: 2px #00a896 solid;
  border-radius: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  transition: transform 0.25s;
}

.update-profile-button:hover {
  transform: scale(1.1);
}
