.friends-main-div{
  width: 60%;
}

.friend-request-panel{
  background-color: #e3e6e5;
  border-radius: 15px;
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
  text-align: left;
  padding: 2px 20px 2px 20px;
  margin-bottom: 3vh;
}

.friend-request-panel:hover{
  transition: transform 0.2s;
  transform: scale(1.02);
}

.friend-request-header{
  font-size: 1.6vw;
  font-weight: 650;
}

.friend-request-motto{
  font-size: 1.1vw;
  font-style: italic;
}

.no-friend-requests{
  font-size: 1vw;
  color: rgb(110, 108, 108);
}

.friend-list-panel{
  padding: 2%;
  background-color: #e3e6e5;
  border-radius: 15px;
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
  min-height: 300px;
}

.friend-list-panel:hover{
  transition: transform 0.2s;
  transform: scale(1.02);
}

.welcome-header{
  font-size: 1.6vw;
  font-weight: 650;
  margin-bottom: 1vw;
}

.friend-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 10px;
}

.profile-button {
  font-size: 1vw;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  color: #00a896;
  background-color: #F8F9FA;
  border: none;
  border-radius: 10px;
  transition: transform 0.25s;
}

.profile-button:hover {
  transform: scale(1.1);
}

.manage-div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.remove-icon{
  color: red;
  cursor: pointer;
  transition: transform 0.25s;

}

.remove-icon:hover{
  transform: scale(1.2);
}

