
.friend-profile{
background-color: #e3e6e5;
  width: 60%;
  border-radius: 15px;
  box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
  padding: 2px 20px 2px 20px;
  transition: transform 0.35s;
  margin-bottom: 2%;
}

.red{
    color: red;
    font-weight: 800;
}