.updateProfile-main-div {
    background-color: #e3e6e5;
    width: 60%;
    border-radius: 15px;
    box-shadow: 8px 8px 24px -8px rgba(66, 68, 90, 1);
    padding: 2px 20px 2px 20px;
    margin-bottom: 2%;
  }

  .update-header {
    text-align: center;
    font-size: 2vw;
    font-weight: 650;
  }

  .form-container {
    margin-top: 2%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: center;
  }

  .form-label {
    font-family: "Alkatra";
    font-size: 1.4vw;
    font-weight: 650;
  }

  .input-box {
    width: 30%;
    height: 2vw;
    border-radius: 7px;
    border: 3px solid #00a896;
    font-size: 1vw;
    padding-left: 20px;
  }

  .button-div{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
  }

  .submit-button {
    margin-top: 2vw;
    width: 40%;
    text-align: center;
    padding: 1%;
    border-radius: 7px;
    border: none;
    font-size: 1.6vw;
    font-family: "Alkatra";
    background-color: #00a896;
    color: #f7f7f7;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .submit-button:hover {
    transform: scale(1.05);
  }
  
  .alert-div {
    margin-top: 2vh;
  }