@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

.exercise-div{
    font-family: "Pt Sans";
    background-color: #00A896;
    width: 35%;
    margin-bottom: 5%;
    border-radius: 14px;
    min-height: 25vh;
    box-shadow: 16px 20px 52px -1px rgba(66, 68, 90, 1);
    transition: transform 0.4s;
    min-height: 275px;
    padding: 1%;
}

.exercise-div:hover{
    transform: scale(1.1);
}

.exercise-title{
    font-size: 4vh;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 8%;
}

.description-label{
    font-size: 2.1vh;
    color: #d0d9df;
    font-weight: 600;
}

.text{
    text-align: justify;
    font-size: 2.2vh;
    font-weight: 550;
}