.exercise-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color-variant-1);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
  transition:
    background-color 0.5s,
    color 0.5s;
}

.exercise-row:hover {
  background-color: var(--submain-color-variant-2);
  color: var(--white-color);
}

.exercise-name {
  font-weight: 600;
}

.icon {
  cursor: pointer;
}

.add {
  transition: color 0.5s;
}

.add:hover {
  color: var(--main-color-variant-3);
}

.remove {
  transition: color 0.5s;
}

.remove:hover {
  color: var(--red-color);
}

.set-numbers-div {
  display: flex;
  align-items: center;
}

.input {
  border-radius: 10px;
  border: none;
  text-align: center;
}

.count-input {
  max-width: 50px;
  width: 100%;
  margin: 0 5px;
}

.payload-input {
  max-width: 70px;
  width: 100%;
  margin: 0 5px;
}

.exercise-row-mobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--main-color-variant-1);
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 8px 8px 24px -7px rgba(66, 68, 90, 1);
  transition: background-color 0.5s;
}

.exercise-row-mobile:hover {
  background-color: var(--submain-color-variant-2);
}

.set-numbers-div-mobile {
  display: flex;
  justify-content: space-between;
}

.input-with-icons {
  display: flex;
  align-items: center;
  gap: 2px;
}
